<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
<h1>HOME</h1>

<table>
    <tr>
        <th>method</th>
        <th>path</th>
        <th>datetime</th>
        <th>company_id</th>
        <th>userid</th>
    </tr>
    {% for item in querry %}
        <tr> 
            <td>{{ item.method }}</td>
            <td>{{ item.path }}</td>
            <td>{{ item.datetime }}</td>
            <td>{{ item.company_id }}</td>
            <td>{{ item.client_id }}</td>
            
        </tr>
    {% endfor %}
</table>

</body>
</html>
